$color-primary: #0d0d49;
$color-secondary: #ffffff;

main {
    h2 {
        padding: 20px;
        padding-bottom: 30px;
        background-color: #0d0d49;
        color: #ffffff;
    }

    h3 {
        text-decoration: solid;
        font-size: x-large;
        padding: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0d0d49;
        color: #ffffff !important;
    }
    .main-img {
        height: 300px;
        width: 300px;
    }

    .main-text {
        h4 {
            padding-bottom: 20px;
        }
        a {
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 20px;
            border: 2px solid rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            background-color: #0d0d49;
            color: #ffffff;
        }
    }
    .form {
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;

        .boton-enviar {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
}

/*Main productos*/

/*Aplico maps*/
$widths: (
    300: 300%,
    100: 100%,
    90: 90%,
    80: 80%
);


.main-productos {
    /*Maps*/
    width: map-get($widths, 100);
    margin: auto;
    overflow: hidden;

    ul {
        /*Maps*/
        display: flex;
        padding: 0;
        width: map-get($widths, 300);

        animation: productos 20s infinite;
    }

    li {
        /*Maps*/
        width: map-get($widths, 100);
        list-style: none;
    }

    img {
        /*Maps*/
        width: map-get($widths , 100);
        height: 80%;
    }
}

/*Main contacto*/

.mapa-contacto{
    width: 100%;
}

/*Main nosotros*/

.main-nosotros {
    img {
        width: 100%;
        }
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;

    ul {
        display: flex;
        padding: 0;
        width: 200%;

        animation: cambio 20s infinite;
    }

    li {
        width: 100%;
        list-style: none;
    }

    img {
        width: 80%;
        height: 70%;
    }
}
